#contact {
	display: block;
	position: fixed;
	left: 0;
	margin-left: 50%;
	transform: translateX(-50%);
	color: var(--blue);
	top: calc(50vh - 1.5rem);
	z-index: 2;
	font-size: 3rem;
	mix-blend-mode: exclusion;

	a {
		text-decoration: none;
		color:black;

		&:hover, &:active, &:focus, &::selection {
			background-color: var(--blue);
		}
	}
}

.text {
	color: var(--blue);
	font-size: 2rem;
	font-weight: 400;
	max-width: 800px;

	::selection {
		color: white;
		background-color: var(--blue);

	}

	&--alt {
		color: black;
		max-width: 1200px;

		::selection {
			color: var(--yellow);
			background-color: black;
		}
	}
}

.works-list__item {
	margin-bottom: 2em;
	
	&:last-of-type {
		margin-bottom: 0;
	}
}

.work__title {
	margin: 0;

	.title__github {
		width: 0.73em;
		display: inline-block;
		
		& > img {
			width: 100%;
			height: auto;
			display: inline-block;
			vertical-align: bottom;
		}
	}

	a.title__link {
		font-weight: 400;
		text-decoration: none;
		background-color: black;
		color: var(--yellow);
		padding: 0 .2em;

		&:hover {
			color: black;
			background-color: white;
		}

		&.title__link--dead {
			text-decoration: line-through solid 3px;
			pointer-events: none;
		}
	}

	.title__year	{
		font-size: .6em;
		vertical-align: bottom;
		line-height: 1.1;
		padding: 0 .2em;
		color: black;
		background-color: white;

		&::selection {
			color: black;
			background-color: var(--yellow);
		}
	}
}

a.work__link {
	font-weight: 400;
	text-decoration: none;
	background-color: black;
	color: var(--yellow);
	padding: 0 .2em;

	&:hover {
		background-color: white;
		color: black;
	}
}

a.work__link--dead {
	text-decoration: 3px line-through;
}

.work__description {
	font-size: 1.2rem;
	line-height: 1.4;
	margin: .5em 0 0;

}

.work__description--alt {
	padding: 0 .2em;
	color: black;
	background-color: white;

	&::selection {
		color: black;
		background-color: var(--yellow);
	}
}

.work__design {
	font-size: 0.9rem;
	line-height: 1.4;
	margin: .2em 0 0;

	a {
		text-decoration: 1px dashed underline;

		&:hover {
			text-decoration: none;
		}
	}
}

.clock {
	color: var(--timeBackground);
	mix-blend-mode: multiply;
	transition: color 5s linear;

	& ::selection, &::selection {
		background-color: var(--timeBackground);
		color: white;
	}
}


.change {
	background-color: var(--timeBackground);
	color: white;
	transition: all 250ms ease-in-out;

	&::selection {
		background-color: white;
		color: var(--timeBackground);
	}
}

.info {
	text-align: center;

	&__up > *, &__down > * {
		display: block;
	}


	&__middle {
		margin: 3em 0;
	}

}

.betty {
	display: inline-block;

	&.highlight {
		transform: skew(-10deg, -4deg);
	}
}

.betty-img {
	position: absolute;
	left: 0;
	margin-left: 50%;
	transform: translateX(-50%);
	z-index: -1;
	width: calc(100% - 20px);

	&.hidden {
		display: none;
	}

	& img {
		width: 100%;
		display: block;
	}
}