@import	'normalize';
@import 'mixins';

:root {
	font-size: 100%;
	--timeBackground: hsl(0, 100%, 100%);
	--blue: rgb(0, 0, 238);
	--yellow: rgb(255, 225, 16);
}

body {
	font-size: 2rem;
	font-family: 'Fira Code', monospace;
}

@supports (font-variation-settings: normal) {
	body {
		font-family: 'Fira Code VF', monospace;
	}
}

h1 {
	font-size: 2rem;
	font-weight: 400;
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;

	& li {
		list-style-type: none;
	}
}


a,
a:hover,
a:visited,
a:active,
a:focus {
	color: var(--blue);

	&.js-trigger {
		text-decoration: none; color: inherit;
	}

	.works-list & {
		color: black;
	}

}

a:hover {
	text-decoration: none;
}

.works-list__item {
	margin-bottom: 2em;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.work__link {
	font-weight: 400;
}

.work__description {
	font-size: 1.2rem;
	line-height: 1.4;
	margin: .2em 0 1em;
}

.work__description--alt {
	padding: 0 .2em;
	color: var(--yellow);
	background-color: black;

	&::selection {
		color: black;
		background-color: var(--yellow);
	}
}

.my-element {
	height: 100vh; /* Fallback for browsers that do not support Custom Properties */
	height: calc(var(--vh, 1vh) * 100);
}

section {
	position: relative;
	display: grid;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 6em);
	min-height: calc((var(--vh, 1vh) * 100) - 6em);
	margin: 0;
	z-index: 3;

	padding: 3em 0;

	& > * {
		margin: 2rem calc(10rem / 16);
	}

	&#playground {
		background-color: var(--timeBackground);
		transition: background-color 5s linear;
	}

	&#info {
		z-index:1;
	}

	&#work {
		background-color: var(--yellow);
	}

}

#contact {
	display: block;
	position: fixed;
	left: 0;
	margin-left: 50%;
	transform: translateX(-50%);
	color: var(--blue);
	top: calc(50vh - 1.5rem);
	z-index: 2;
	font-size: 3rem;
	mix-blend-mode: exclusion;

	& a {
		text-decoration: none;
		color:black;

		&:hover, &:active, &:focus {
			background-color: var(--blue);
		}
	}
}

.text {
	color: var(--blue);
	font-size: 2rem;
	font-weight: 400;
	max-width: 800px;

	::selection {
		color: white;
		background-color: var(--blue);

	}

	&--alt {
		color: black;
		max-width: 1200px;

		::selection {
			color: var(--yellow);
			background-color: black;
		}
	}
}

.clock {
	color: var(--timeBackground);
	mix-blend-mode: multiply;
	transition: color 5s linear;

	& ::selection, &::selection {
		background-color: var(--timeBackground);
		color: white;
	}
}


.change {
	background-color: var(--timeBackground);
	color: white;
	transition: all 250ms ease-in-out;

	&::selection {
		background-color: white;
		color: var(--timeBackground);
	}
}

.arrow {
	position:absolute;
	margin-left: 50%;
	transform: translateX(-50%);

	&--up {
		top:0;
		color: black;
	}

	&--down {
		bottom:0;
		color:var(--timeBackground);
		background-color: white;
		mix-blend-mode: multiply;
		transition: all 5s linear;
	}
}

.info {

	text-align: center;

	&__up > *, &__down > * {
		display: block;
	}


	&__middle {
		margin: 3em 0;
	}

}

.highlight {
	&.betty {
		transform: skew(-10deg, -4deg);
	}
}

.betty {
	display: inline-block;
}

.betty-img {
	position: absolute;
	left: 0;
	margin-left: 50%;
	transform: translateX(-50%);
	z-index: -1;
	width: calc(100% - 20px);

	&.hidden {
		display: none;
	}

	& img {
		width: 100%;
		display: block;
	}
}